/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
li,
figcaption {
  overflow-wrap: break-word;
  text-wrap: pretty;
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}